[Unit]
Description=GoCD Monitor
Requires=network.target
After=syslog.target network.target
[Service]
WorkingDirectory={{gocd_monitor_path}}
ExecStart=/usr/local/bin/npm start
[Install]
WantedBy=multi-user.target